@using System.Security.Policy
@using System.Security.Authentication
@using System.Security.Claims
@using System.Security.Principal

@{

   ViewData["Title"] = "Test";
}

<h1>  @User.Identity.IsAuthenticated</h1>
<h1>  @User.Identity.Name</h1>
<h1>  @User.IsInRole("User")  </h1>
<h1>  @User.Claims.FirstOrDefault(x => x.Type.Equals("ID")).Value  </h1>
 @foreach(var id in User.Claims){ <h1> @id.Type // @id.Value  </h1>}



<h1>  @User.Claims.FirstOrDefault(x => x.Type.Equals("User"))</h1>
