@using File_Sharing.Models
@using X.PagedList
@using X.PagedList.Mvc.Bootstrap4.Core
@using X.PagedList.Mvc.Core
@model IPagedList<Request>


@{
            ViewData["Title"] = "My Friendship Requests";
}


<h1>Requests</h1>

@Html.Partial("_Sidebar")
<div class="side-bar-content">
@if (Model.Count() > 0)
{
    

    @foreach (Request request in Model)
    {

        <div class="my-file-container">    
         <table class ="vertical-table">
            <tr>
                <th>Sender Name: </th>
                <td>@request.SenderName</td>
            </tr>
            <tr>
                <th>Sender Mail: </th>
                <td>@request.SenderEmail</td>
            </tr>
              </table>
         
              <div class="button-conteiner"> 
                <a class="general-button" id="manage-button" asp-controller="Friendship" asp-action="AcceptRequest" asp-route-FriendshipId="@request.FriendshipId" >Accept</a>
                <a class="general-button" id="delete-button" asp-controller="Friendship" asp-action="RejectRequest" asp-route-friendshipId="@request.FriendshipId" >Reject</a>
              </div>

              </div>
    


    }


}   

</div>
       @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }), Bootstrap4PagedListRenderOptions.OnlyShowFivePagesAtATime)

       
