@using File_Sharing.Data
@using X.PagedList
@using X.PagedList.Mvc.Bootstrap4.Core
@using X.PagedList.Mvc.Core
@model IPagedList<Friend>
@{
            ViewData["Title"] = "My Friends";
}


<h1>Friends Page</h1>

@Html.Partial("_Sidebar")

<div class="side-bar-content">
@if (Model.Count() > 0)
{
    

<table>
    <tr>
        <th> Name </th>
        <th> Email </th>
        <th> </th>
    </tr>
    @foreach (Friend friend in Model)
    {
    <tr> 
        <td>@friend.Name </td>  
        <td>@friend.Email</td>
        <td> <a asp-controller="Friendship" asp-action="DeleteFriend" asp-route-friendshipId="@friend.FriendshipId" >Remove</a> </td>
    </tr>
    


    }

</table>
}
</div>
   @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }), Bootstrap4PagedListRenderOptions.OnlyShowFivePagesAtATime)
