@using File_Sharing.Data
@using X.PagedList
@using X.PagedList.Mvc.Bootstrap4.Core
@using X.PagedList.Mvc.Core
@model IPagedList<Friend>
@{
            ViewData["Title"] = "My Friends";
}


<h1>Friends Page</h1>

@Html.Partial("_Sidebar")

<div class="side-bar-content">
@if (Model.Count() > 0)
{
    


    @foreach (Friend friend in Model)
    {   
        <div class="my-file-container">    
         <table class ="vertical-table">
            <tr>
                <th>Friend Name: </th>
                <td>@friend.Name</td>
            </tr>
            <tr>
                <th>Friend Mail: </th>
                <td>@friend.Email</td>
            </tr>
              </table>
         
              <div class="button-conteiner"> 
                <a class="general-button" id="delete-button" asp-controller="Friendship" asp-action="DeleteFriend" asp-route-friendshipId="@friend.FriendshipId" >Remove</a>
              </div>

              </div>
           



    }

}
</div>
   @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }), Bootstrap4PagedListRenderOptions.OnlyShowFivePagesAtATime)
