@using File_Sharing.Data
@using X.PagedList
@using X.PagedList.Mvc.Bootstrap4.Core
@using X.PagedList.Mvc.Core
@model IPagedList<Accessor>


@{
    ViewData["Title"] = "Manage File";
   // List<Friend> friendss = (List<Friend>) ViewData["friends"];
    PagedList<Friend> friends = (PagedList<Friend>) ViewData["friends"];
    int fileId = ViewBag.fileId;
    ShareWith sharewith = new ShareWith();
    sharewith.DocumentId = fileId;
}

@if ( @Model.Count() > 0 )
{
    <table>
        <tr>
            <th>Access ID</th>

            <th>Accessor Name</th>
            <th>Permission Date</th>
            <th>Given Time</th>
            <th> </th>
        </tr>

        @foreach (Accessor access in @Model)
        {
            <tr>
            <th> @access.AccessId</th>
            <th> @access.AccessorName</th>
            <th> @access.GivenTime</th>
            <th> <a asp-controller="DocumentAccess" asp-action="EndSharing" asp-route-accessId=@access.AccessId>End Sharing</a></th>
            </tr>
        }

    </table>
}else{  
    <p> No one Can Access </p>
}

<br />
<br />

<h3>Friends</h3>

@if ( @friends.Count() > 0 )
{

    <table>
        <tr>
            <th>Friend Name</th>
            <th>Friend Email</th>
            <th>ID</th>
            
            <th> </th>
        </tr>

        @foreach (Friend friend in friends)
        {
         <tr>
            <th> @friend.Name</th>
            <th> @friend.Email</th>
            <th> <a asp-controller="DocumentAccess" asp-action="share" asp-route-fileId=@fileId asp-route-friendshipId=@friend.FriendshipId>share</a> </th>

         </tr>
        }

    </table>
       
    }else{
    <p> No one Can Access </p>
}